/* GLOBAL STYLES */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.bg-container {
  width: 100%;
}

.bg-color-gray {
  background-color: #f7f7f7;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  overflow: hidden;
}

.head-of-sections {
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  color: black;
  padding: 0;
  margin-top: 2.5em;
  margin-bottom: 0;
  text-transform: uppercase;
}

.desc-of-sections {
  font-family: "myriad-pro";
  text-align: center;
  color: #777777;
  margin-bottom: 4em;
  font-style: italic;
}

/* GLOBAL STYLES ENDS */
/* SASS STYLES */
/* GRID */
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.offset-4 {
  margin-left: 33.33%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* END OF GRID */
/* CLEARFIX HAX */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* CLEARFIX HAX ENDS */
/* SPECIAL FONTS */
@font-face {
  font-family: "Wisdom";
  src: url("/fonts/Wisdom.ttf") format("truetype");
}

/* SPECIAL FONTS ENDS */
/* HEADER */
.header-bg {
  width: 100%;
  height: auto;
  background-image: url(https://public.adobecc.com/files/1EPWQMQAWCKDEQTBUCJHVK1154LFFF);
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0 auto;
}

.header {
  width: 100%;
  max-width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
  top: 25px;
  transition: all 0.5s ease-in;
}

.header .logo {
  font-size: 1.6em;
  color: #fed136;
  font-family: 'Wisdom', Montserrat;
}

.header .header-nav {
  float: right;
  overflow: visible;
}

.header .header-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header .header-nav ul li {
  display: inline-block;
  margin-top: 10px;
}

.header .header-nav ul li .header-nav-links {
  text-decoration: none;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 41px;
  color: white;
  transition: 0.5s;
  padding-right: 41px;
}

.header .header-nav ul li .header-nav-links:last {
  padding-right: 0;
}

.header .header-nav ul li .header-nav-links:hover {
  cursor: pointer;
  color: #fed136;
}

.header .header-nav ul li #active {
  color: #fed136;
}

.header .header-nav label {
  font-size: 35px;
  cursor: pointer;
  color: #fed136;
  padding: 0 20px;
}

.header .header-nav input, .header .header-nav label {
  display: none;
}

.header-slogan-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  transition: all 0.5s ease-in;
}

.header-slogan-container h1, .header-slogan-container h2 {
  margin: 0;
}

.header-slogan-container h2 {
  font-size: 2.5em;
  font-style: italic;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: white;
  padding-bottom: 30px;
  padding-top: 200px;
}

.header-slogan-container h1 {
  font-size: 4.4em;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.header-slogan-container button {
  margin-top: 3em;
  margin-bottom: 10em;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #fed136;
  border-radius: 3px;
  border: none;
  padding: 20px 50px;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.header-slogan-container button:hover {
  transform: scale(1.2);
  color: #fed136;
  background-color: transparent;
}

.darker-bg {
  height: inherit;
  background-color: rgba(0, 0, 0, 0.4);
}

/* END OF HEADER */
/* SERVICES */
.services {
  position: relative;
}

.services .row {
  margin-bottom: 5em;
}

.services .row .col-4 {
  margin: 0;
  padding: 0 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.services .row .col-4 .service-title {
  font-size: 1.1em;
  font-weight: bold;
}

.services .row .col-4 .service-desc {
  font-size: 0.9em;
  font-family: "myriad-pro";
  text-align: center;
}

.services .row .col-4 img {
  transition: all 0.5s ease-in;
  opacity: 1;
}

.services .row .col-4 img:hover {
  transform: scale(0.9);
  opacity: 0.5;
}

/* END OF SERVICES */
/* PORTFOLIO */
.portfolio {
  position: relative;
}

.portfolio .portfolio-row {
  padding-bottom: 2.5em;
  position: relative;
}

.portfolio .portfolio-row .portfolio-cols {
  padding: 0 25px;
  overflow: hidden;
}

.portfolio .portfolio-row .portfolio-cols img {
  width: 100%;
  height: auto;
  transition: all 0.5s ease-in;
}

.portfolio .portfolio-row .portfolio-cols img:hover {
  cursor: pointer;
  transform: scale(0.95);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.64);
}

.portfolio .portfolio-row .portfolio-cols img:hover .portoflio-layer {
  opacity: 0.7;
}

.portfolio .portfolio-row .portfolio-cols .portfolio-title {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
}

.portfolio .portfolio-row .portfolio-cols .portfolio-desc {
  font-size: 0.9em;
  font-family: "myriad-pro";
  font-style: italic;
  text-align: center;
}

.portfolio .portfolio-row .portfolio-cols .img-layer {
  position: relative;
  z-index: 2;
}

.portfolio .portfolio-row .portfolio-cols .img-layer:hover {
  cursor: pointer;
  transform: scale(0.95);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.64);
}

/* END OF PORTOFLIO */
/* ABOUT US */
.about-us .row .line-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 0;
}

.about-us .row .line-container .vertical-line {
  width: 5px;
  height: 5em;
  background-color: #f1f1f1;
}

.about-us .row .line-container .about-us-circle {
  width: 11.438em;
  height: 11.438em;
  background-color: #f1f1f1;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.about-us .row .line-container .about-us-circle .about-us-inner-circle {
  width: 93%;
  height: 93%;
  background-color: #fed136;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.about-us .row .line-container .about-us-circle .about-us-inner-circle .inner-circle-text {
  font-size: 1.1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  text-shadow: 0px 2px 5px #969696;
}

.about-us .row .col-4, .about-us .row .col-offset-4 {
  padding: 0;
}

.about-us .row .col-4 .about-us-title, .about-us .row .col-offset-4 .about-us-title {
  font-size: 1.1em;
  text-align: right;
  font-weight: bold;
}

.about-us .row .col-4 .about-us-desc, .about-us .row .col-offset-4 .about-us-desc {
  font-size: 0.9em;
  text-align: right;
  font-family: 'Roboto Slab', serif;
  color: #777777;
}

.about-us .row .col-4 .about-us-txtalign-left, .about-us .row .col-offset-4 .about-us-txtalign-left {
  text-align: left;
}

.about-us .row .col-image-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 0;
}

.about-us .row .col-image-container .about-us-image {
  transition: 0.5s;
}

.about-us .row .col-image-container .about-us-image:hover {
  transform: scale(1.05);
}

.about-us #last-about-us-row {
  padding-bottom: 5em;
}

/* END OF ABOUT US */
/* OUR TEAM */
.team .row .team-desc {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: #777777;
  margin-top: 2.5em;
  margin-bottom: 5em;
}

.team .row .col-4 .team-photo-holder {
  width: 220px;
  max-width: 100%;
  height: 220px;
  max-height: 100%;
  border-radius: 50%;
  background-color: #111111;
}

.team .row .col-4 .team-name {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.team .row .col-4 .team-job {
  width: 100%;
  text-align: center;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 0.9em;
  color: #777777;
}

.team .row .col-4 .team-social-container {
  margin: 10px 0;
  width: 60%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team .row .col-4 .team-social-container .icon-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #000000;
  background-color: transparent;
  font-size: 20px;
  transition: all 0.5s;
}

.team .row .col-4 .team-social-container .icon-btn:hover {
  color: white;
  cursor: pointer;
  border: 3px solid transparent;
}

.team .row .col-4 .team-social-container .twitter:hover {
  background-color: #00aced;
}

.team .row .col-4 .team-social-container .facebook:hover {
  background-color: #3b5998;
}

.team .row .col-4 .team-social-container .pinterest:hover {
  background-color: #cb2028;
}

.team .row .team-col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* END OF OUR TEAM */
/* LOGOS */
.logos {
  padding: 2.5em 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logos .col-3 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.logos .col-3 img {
  opacity: 0.7;
  transition: all 0.5s;
}

.logos .col-3 img:hover {
  opacity: 1;
  transform: scale(1.1);
  cursor: pointer;
}

/* CONTACT */
.white-head {
  color: white;
}

.contact-bg-map {
  background-color: #222222;
  background-image: url(https://public.adobecc.com/files/1E5NRQRKK4RK34QG1FXPD030BAUFFF);
  background-size: cover;
  background-position: center;
}

.contact .col-12 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.contact .col-12 button {
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #fed136;
  border-radius: 3px;
  border: none;
  padding: 20px 50px;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.contact .col-12 button:hover {
  transform: scale(1.2);
  color: #fed136;
  background-color: transparent;
}

.contact .col-6 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.contact .col-6 form {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.contact .col-6 form input, .contact .col-6 form textarea {
  width: 100%;
  max-width: 28.5625em;
  margin: 15px auto;
  background-color: white;
  border: 0;
  border-radius: 5px;
  padding: 20px 0;
  padding-left: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contact .col-6 form input::-webkit-input-placeholder, .contact .col-6 form textarea::-webkit-input-placeholder {
  font-weight: bold;
  color: #bbbbbb;
}

.contact .col-6 form input:-ms-input-placeholder, .contact .col-6 form textarea:-ms-input-placeholder {
  font-weight: bold;
  color: #bbbbbb;
}

.contact .col-6 form input::placeholder, .contact .col-6 form textarea::placeholder {
  font-weight: bold;
  color: #bbbbbb;
}

.contact .col-6 form .input-message {
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 13.2em;
  text-transform: uppercase;
  resize: none;
}

.contact .col-6 form .input-message::-webkit-input-placeholder {
  font-weight: bold;
  color: #bbbbbb;
  font-size: 1.2em;
}

.contact .col-6 form .input-message:-ms-input-placeholder {
  font-weight: bold;
  color: #bbbbbb;
  font-size: 1.2em;
}

.contact .col-6 form .input-message::placeholder {
  font-weight: bold;
  color: #bbbbbb;
  font-size: 1.2em;
}

/* RWD */
@media (max-width: 725px) {
  body {
    font-size: 13px;
  }
  /* HEADER RWD */
  .header .logo {
    width: 50%;
  }
  .header .header-nav {
    width: 50%;
    text-align: right;
  }
  .header .header-nav label {
    display: inline-block;
    margin-top: 5px;
  }
  .header .header-nav ul {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    transition: all 1s ease-in;
  }
  .header .header-nav ul li {
    width: 100%;
  }
  .header .header-nav #header-nav-button:checked + ul {
    max-height: 200px;
  }
  .header-slogan-container h1 {
    font-size: 5em;
    padding: 0 10px;
    text-align: center;
  }
  /* END OF HEADER RWD */
  /* SERVICES RWD */
  .services .row .col-4 {
    width: 50%;
  }
  .services .row .col-4:last-child {
    margin-left: 25%;
  }
  .services .row .col-4 .service-title {
    font-size: 1.4em;
  }
  .services .row .col-4 .service-desc {
    font-size: 1.2em;
  }
  /* END OF SERVICES RWD */
  /* PORTFOLIO RWD */
  .portfolio .portfolio-row .portfolio-cols {
    width: 50%;
  }
  .portfolio .portfolio-row .portfolio-cols:last-child {
    margin-left: 25%;
  }
  .portfolio .portfolio-row .portfolio-cols .portfolio-title {
    font-size: 1.4em;
  }
  .portfolio .portfolio-row .portfolio-cols .portfolio-desc {
    font-size: 1.2em;
  }
  /*END OF PORTFOLIO RWD */
  /* ABOUT-US RWD */
  .about-us .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
  }
  .about-us .row .line-container .left-rotate {
    transform: rotate(45deg);
  }
  .about-us .row .line-container .right-rotate {
    transform: rotate(-45deg);
  }
  .about-us .row .col-4 {
    width: 50%;
  }
  .about-us .row .col-4 .about-us-title {
    padding: 5px;
    font-size: 1.4em;
  }
  .about-us .row .col-4 .about-us-desc {
    padding: 5px;
    font-size: 1.2em;
  }
  .about-us .row .col-to-disable-in-RWD {
    display: none;
  }
  .about-us .row .offset-4 {
    margin-left: 0;
  }
  /* END OF ABOUT-US RWD */
  /* OUR TEAM */
  .team .row .team-col {
    width: 100%;
  }
  .team .row .team-col .team-name {
    font-size: 1.4em;
  }
  .team .row .team-col .team-job {
    font-size: 1.2em;
  }
  .team .row .team-col .team-social-container .icon-btn {
    color: white;
    border: 3px solid transparent;
  }
  .team .row .team-col .team-social-container .twitter {
    background-color: #00aced;
  }
  .team .row .team-col .team-social-container .facebook {
    background-color: #3b5998;
  }
  .team .row .team-col .team-social-container .pinterest {
    background-color: #cb2028;
  }
  .team .row .team-desc {
    font-size: 1.2em;
  }
  /* TEAM RWD ENDS */
  /* LOGOS RWD */
  .logos .col-3 {
    width: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
  }
  /* CONTACT */
  .contact .col-6 {
    width: 100%;
  }
  .contact .col-6 .textarea-form {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .contact .col-6 .textarea-form input {
    width: 100%;
    display: block;
  }
  .contact .col-6 .input-form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%;
  }
  .contact .col-6 .input-form input {
    margin: 20px auto;
  }
}
/*# sourceMappingURL=style.css.map */