/* GLOBAL STYLES */

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

.bg-container{
	width: 100%;
}
.bg-color-gray{
	background-color: rgb(247,247,247);
}

.container{
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
	overflow: hidden;
}

.head-of-sections{
	font-weight: bold;
	font-size: 2.5em;
	text-align: center;
	color: black;
	padding: 0;
	margin-top: 2.5em;
	margin-bottom: 0;
	text-transform: uppercase;
}
.desc-of-sections{
	font-family: "myriad-pro";
	text-align: center;
	color: #777777;
	margin-bottom: 4em;
	font-style: italic;
}

/* GLOBAL STYLES ENDS */

/* SASS STYLES */

$golden-color: #fed136;

/* GRID */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.offset-4 {margin-left: 33.33%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* END OF GRID */

/* CLEARFIX HAX */

.row::after {
    content: "";
    clear: both;
    display: table;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* CLEARFIX HAX ENDS */

/* SPECIAL FONTS */

@font-face{
	font-family: "Wisdom";
	src: url("/fonts/Wisdom.ttf") format('truetype')
}

/* SPECIAL FONTS ENDS */

/* HEADER */

.header-bg{
	width:100%;
	height:auto;
	background-image: url(https://public.adobecc.com/files/1EPWQMQAWCKDEQTBUCJHVK1154LFFF);
	background-size: cover;
  	background-position: center;
  	position: relative;
  	margin: 0 auto;
}

.header{
	width: 100%;
	max-width: 940px;
	padding: 0 10px;
	margin: 0 auto;
	position: relative;
	top: 25px;
	transition: all 0.5s ease-in;
	.logo{
		font-size: 1.6em;
		color: $golden-color;
		font-family: 'Wisdom', Montserrat;
	}
	.header-nav{
		float: right;
		overflow: visible;
		ul{
			padding: 0;
			margin: 0;
			list-style-type: none;
			li{
				display: inline-block;
				margin-top: 10px;
				.header-nav-links{
					text-decoration: none;
					font-size: 0.9em;
					font-weight: bold;
					text-transform: uppercase;
					line-height: 41px;
					color: white;
					transition: 0.5s;
					padding-right: 41px;
					&:last{
						padding-right: 0;
					}
					&:hover{
						cursor: pointer;
						color: $golden-color;
					}
				}
				#active{
					color: $golden-color;
				}
			}
		}
		label{
			font-size: 35px;
			cursor: pointer;
			color: #fed136;
			padding: 0 20px;
		}
		input, label{
			display: none;
		}
	}
}
.header-slogan-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.5s ease-in;
	h1, h2{
		margin: 0;
	}
	h2{
		font-size: 2.5em;
		font-style: italic;
		font-weight: 300;
		font-family: 'Lato', sans-serif;
		color: white;
		padding-bottom: 30px;
		padding-top: 200px;
	}
	h1{
		font-size: 4.4em;
		font-weight: bold;
		text-transform: uppercase;
		color: white;
	}
	button{
		margin-top: 3em;
		margin-bottom: 10em;
		font-size: 1em;
		font-weight: bold;
		text-transform: uppercase;
		color: white;
		background-color: $golden-color;
		border-radius: 3px;
		border: none;
		padding: 20px 50px;
		font-family: 'Montserrat', sans-serif;
		transition: all 0.5s ease-in;
		cursor: pointer;
		&:hover{
			transform: scale(1.2);
			color: $golden-color;
			background-color: transparent;
		}
	}

}
.darker-bg{
	height: inherit;
	background-color: rgba(0, 0, 0, 0.4);
}

/* END OF HEADER */

/* SERVICES */

.services{
	position: relative;
	.row{
		margin-bottom: 5em;
		.col-4{
			margin: 0;
			padding: 0 15px;
			display: flex;
			flex-direction: column;
			align-items: center;
			.service-title{
				font-size: 1.1em;
				font-weight: bold;
			}
			.service-desc{
				font-size: 0.9em;
				font-family: "myriad-pro";
				text-align: center;
			}
			img{
				transition: all 0.5s ease-in;
				opacity: 1;
				&:hover{
					transform:scale(0.9);
					opacity: 0.5;
				}
			}
		}
	}
}

/* END OF SERVICES */

/* PORTFOLIO */

.portfolio{
	position: relative;
	.portfolio-row{
		padding-bottom: 2.5em;
		position: relative;
		.portfolio-cols{
			padding: 0 25px;
			overflow: hidden;
			img{
				width: 100%;
				height: auto;
				transition: all 0.5s ease-in;
				&:hover{
					cursor: pointer;
					transform: scale(0.95);
					box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.64);
					.portoflio-layer{
						opacity: 0.7;
					}
				}
			}
			.portfolio-title{
				font-size: 1.1em;
				font-weight: bold;
				text-align: center;
			}
			.portfolio-desc{
				font-size: 0.9em;
				font-family: "myriad-pro";
				font-style: italic;
				text-align: center;
			}
			.img-layer{
				position: relative;
				z-index: 2;
				&:hover{
					cursor: pointer;
					transform: scale(0.95);
					box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.64);
				}
			}
		}
	}
}

/* END OF PORTOFLIO */

/* ABOUT US */
.about-us{
	.row{
		.line-container{
			display: flex;
			justify-content: center;
			padding: 0;
			.vertical-line{
				width: 5px;
				height: 5em;
				background-color: rgb(241, 241, 241);
			}
			.about-us-circle{
				width: 11.438em;
				height: 11.438em;
				background-color: rgb(241, 241, 241);
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				.about-us-inner-circle{
					width: 93%;
					height: 93%;
					background-color: rgb(254, 209, 54);
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					.inner-circle-text{
						font-size: 1.1em;
						text-align: center;
						text-transform: uppercase;
						font-weight: bold;
						color: white;
						text-shadow: 0px 2px 5px rgba(150, 150, 150, 1);
					}
				}
			}
		}
		.col-4, .col-offset-4{
			padding: 0;
			.about-us-title{
				font-size: 1.1em;
				text-align: right;
				font-weight: bold;
			}
			.about-us-desc{
				font-size: 0.9em;
				text-align: right;
				font-family: 'Roboto Slab', serif;
				color: #777777;
			}
			.about-us-txtalign-left{
				text-align: left;
			}
		}
		.col-image-container{
			display: flex;
			justify-content: center;
			padding: 0;
			.about-us-image{
				transition: 0.5s;
				&:hover{
					transform: scale(1.05);
				}
			}
		}
	}
	#last-about-us-row{
		padding-bottom: 5em;
	}
}

/* END OF ABOUT US */

/* OUR TEAM */

.team{
	.row{
		.team-desc{
			font-family: 'Roboto Slab', serif;
			text-align: center;
			color: #777777;
			margin-top: 2.5em;
			margin-bottom: 5em;
		}
		.col-4{
			.team-photo-holder{
				width: 220px;
				max-width: 100%;
				height: 220px;
				max-height: 100%;
				border-radius: 50%;
				background-color: rgb(17,17,17);
			}
			.team-name{
				width: 100%;
				text-align: center;
				font-weight: bold;
			}
			.team-job{
				width: 100%;
				text-align: center;
				margin: 0;
				font-family: 'Roboto Slab', serif;
				font-size: 0.9em;
				color: #777777;
			}
			.team-social-container{
				margin: 10px 0;
				width: 60%;
				display: flex;
				justify-content: space-around;
				.icon-btn{
					width: 40px;
					height: 40px;
					border-radius: 50%;
					border: 3px solid #000000;
					background-color: transparent;
					font-size: 20px;
					transition: all 0.5s;
					&:hover{
						color: white;
						cursor: pointer;
						border: 3px solid transparent;
					}
				}
				.twitter{
					&:hover{
						background-color: rgb(0,172,237);
					}
				}
				.facebook{
					&:hover{
						background-color: rgb(59,89,152);
					}
				}
				.pinterest{
					&:hover{
						background-color: rgb(203,32,40);
					}
				}
			}
		}
		.team-col{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
	}
}

/* END OF OUR TEAM */

/* LOGOS */

.logos{
	padding: 2.5em 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	.col-3{
		display: flex;
		justify-content: center;
		align-items: center;
		img{
			opacity: 0.7;
			transition: all 0.5s;
			&:hover{
				opacity: 1;
				transform: scale(1.1);
				cursor: pointer;
			}
		}
	}
}

/* CONTACT */
.white-head{
	color: white;

}
.contact-bg-map{
	background-color: rgb(34,34,34);
	background-image: url(https://public.adobecc.com/files/1E5NRQRKK4RK34QG1FXPD030BAUFFF);
	background-size: cover;
  	background-position: center;
}
.contact{
	.col-12{
		display: flex;
		justify-content: center;
		button{
			margin-top: 3em;
			margin-bottom: 3em;
			font-size: 1em;
			font-weight: bold;
			text-transform: uppercase;
			color: white;
			background-color: $golden-color;
			border-radius: 3px;
			border: none;
			padding: 20px 50px;
			font-family: 'Montserrat', sans-serif;
			transition: all 0.5s ease-in;
			cursor: pointer;
			&:hover{
				transform: scale(1.2);
				color: $golden-color;
				background-color: transparent;
			}
		}
	}
	.col-6{
		display: flex;
		justify-content: center;
		form{
			width: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			input, textarea{
				width: 100%;
				max-width: 28.5625em;
				margin: 15px auto;
				background-color: white;
				border:0;
				border-radius: 5px;
				padding: 20px 0;
				padding-left: 25px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;

				&::placeholder{
					font-weight: bold;
					color: #bbbbbb;
				}
			}
			.input-message{
				padding-top: 20px;
				padding-left: 25px;
				padding-bottom: 13.2em;
				text-transform: uppercase;
				resize: none;
				&::placeholder{
					font-weight: bold;
					color: #bbbbbb;
					font-size: 1.2em;
				}
			}
		}
	}
}












/* RWD */

@media (max-width: 725px) {
	body{
		font-size: 13px;
	}

	/* HEADER RWD */

	.header{
		.logo{
			width: 50%;
		}
		.header-nav{
			width: 50%;
			text-align: right;
			label{
				display: inline-block;
				margin-top: 5px;
			}
			ul{
				max-height: 0;
			    overflow: hidden;
			    position: absolute;
			    transition: all 1s ease-in;
			    li{
			    	width: 100%;
			    }
			}
			#header-nav-button:checked+ul{
		    	max-height: 200px;
	  		}
		}
	}
	.header-slogan-container{
		h1{
			font-size: 5em;
			padding: 0 10px;
			text-align: center;
		}
	}

	/* END OF HEADER RWD */

	/* SERVICES RWD */

	.services{
		.row{
			.col-4{
				width: 50%;
				&:last-child{
					margin-left: 25%;
				}
				.service-title{
					font-size: 1.4em;
				}
				.service-desc{
					font-size: 1.2em;
				}
			}
		}
	}

	/* END OF SERVICES RWD */

	/* PORTFOLIO RWD */

	.portfolio{
		.portfolio-row{
			.portfolio-cols{
				width: 50%;
				&:last-child{
						margin-left: 25%;
				}
				.portfolio-title{
					font-size: 1.4em;
				}
				.portfolio-desc{
					font-size: 1.2em;
				}
			}
		}
	}

	/*END OF PORTFOLIO RWD */

	/* ABOUT-US RWD */

	.about-us{
		.row{
			display: flex;
			align-items: center;
			.line-container{
				.left-rotate{
					transform: rotate(45deg);
				}
				.right-rotate{
					transform: rotate(-45deg);
				}
			}
			.col-4{
				width: 50%;
				.about-us-title{
					padding: 5px;
					font-size: 1.4em;
				}
				.about-us-desc{
					padding: 5px;
					font-size: 1.2em;
				}
			}
			.col-to-disable-in-RWD{
				display: none;
			}
			.offset-4{
				margin-left: 0;
			}
		}
	}

	/* END OF ABOUT-US RWD */

	/* OUR TEAM */

	.team{
		.row{
			.team-col{
				width: 100%;
				.team-name{
					font-size: 1.4em;
				}
				.team-job{
					font-size: 1.2em;
				}
				.team-social-container{
					.icon-btn{
						color: white;
						border: 3px solid transparent;
					}
					.twitter{
						background-color: rgb(0,172,237);
					}
					.facebook{
						background-color: rgb(59,89,152);
					}
					.pinterest{
						background-color: rgb(203,32,40);
					}
				}
			}
			.team-desc{
				font-size: 1.2em;
			}
		}
	}
	/* TEAM RWD ENDS */

	/* LOGOS RWD */
	.logos{
		.col-3{
			width: 50%;
			display: flex;
			justify-content: center;
			img{

			}
		}
	}

	/* CONTACT */
	.contact{
		.col-6{
			width: 100%;
			.textarea-form{
				width: 100%;
				display: flex;
				justify-content: center;
				input{
					width: 100%;
					display: block;
				}
			}
			.input-form{
				display: flex;
				flex-direction: column;
				width: 100%;
				input{
					margin: 20px auto;
				}
			}
		}
	}
}